.btn-big {
    font-size: 22px;
}

.table-view-cell-thick {
    padding: 15px 65px 15px 15px;
}

.list-group-item-big {
    font-size: 135%;
}

/* Fixes bootstrap/ratchet issue */
.popover {
    top: 55px;
    left: 50%;
    position: fixed;
    display: none;
    font-size: 1rem;
}